 body {
    background-color: #000000;
    align-content: center;
  }

  #header {
    font-size: 36pt;
    color: #ccffcc;
  }

  #header .author-name {
    font-size: 11pt;
  }

  li.question {
    color: #CCCCCC;
  }

  .bold {
    font: bold;
  }

  .monospace {
    font-family: monospace;
    text-decoration: underline green;
  }

  li.question .emphasised {
    font: under;
  }

  ol.answers {
    list-style-type: upper-alpha;
  }

  ol.answers li.question-answer :not(.part) {
    font: 28pt 'Cascadia Code PL';
  }

  .response-ascii {
     font-style: italic;
     font-size: small;
  }

  body {
    color: #ffffff;
  }